<h1>About</h1>

This page was created for Introduction to Software Engineering, Fall 2011 taught at Carnegie Mellon University for the
Information Networking Institute graduate students.
<p></p>
<h3>References</h3>
http://onlamp.com/onlamp/2005/06/09/rails_ajax.html <br>
http://ruby.railstutorial.org/      <br>
http://www.imdb.com/title/tt0065314/