<h1>Kathy's Mary Tyler Moore Show Review Page</h1>

<p>
  This is the home page for the MTM Review Page.
</p>

<%= link_to "Add Episode", addepisode_path, :class => "addepisode_button round" %>
<p></p>
<%= link_to "Add Review", addreview_path, :class => "addreview_button round" %>