<h1>Kathy's Mary Tyler Moore Show Review Page</h1>

<p>
  This is the home page for the MTM Review Page.
</p>

<table border="1">
  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= link_to "All Episodes", showepisodes_path, :class => "addepisode_button round" %></td>
    <td><%= link_to "All Reviews", showreviews_path, :class => "addreview_button round" %></td>
  </tr>
  <tr>
    <td><%= link_to "Add Episode", addepisode_path, :class => "addepisode_button round" %></td>
    <td><%= link_to "Add Review", addreview_path, :class => "addreview_button round" %></td>
  </tr>
</table>